@model BOOLEANDATA.Models.RegistroMatricula

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RegistroMatricula</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaMatricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaMatricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorMatricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorMatricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAcudiente1Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAcudiente1Navigation.IdAcudiente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstudiante1Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstudiante1Navigation.IdEstudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPersonaAdmi1Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPersonaAdmi1Navigation.IdPersonalAdministrativo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdMatricual">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
